<!DOCTYPE html>
<html>

{% include "header.html" %}
<style type="text/css">
input[type="email"] {
    width: 230px;
}
</style>

	<body>
	    <div class="container">
	      <div class="align-content-loginpages">
			{% block content %}
			  <form action="" method="post">
			  {% csrf_token %}
			  {% if form.email.errors %}
			    {{ form.email.errors }}
			  {% endif %}
			  	  <p style="margin-bottom: 0.2rem;">Enter your email:</p> 
			      <p>{{ form.email }}</p> 
			    <input type="submit" class="btn btn-primary" value="Reset password">
			  </form>
			  <p><a href="{% url 'login'%}">Click here to login</a></p>
			{% endblock %}
			</div>
	    </div>
  	</body>
</html>