<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" media="all" />

<link rel="stylesheet"  href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" type="text/css" media="all" />

<link rel="stylesheet"  href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap.min.css" type="text/css" media="all" />

<style type="text/css">
    .style45 {
        font-size: 70px;
        color: #000000;
    }
</style>
</head>

<body>
    <table width="100%">
        <tbody>
        <tr>
            <td height="104" align="center" valign="middle" bgcolor="#F4F4F4">
                <span class="style45">
                    <span class="style47">50/50 Leadership</span> 
                    <img src="https://www.5050leadership.org/PHOTOS/LOGO.png" width="147" height="147" align="absmiddle">
                </span>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row" style="margin: 10px 5% 10px 5%">
      <div class="col-sm-6">
            <table id="mentor-list" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                        	<th>Mentor Id</th>
                            <th>Mentor Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% if mentor_list %}
                    		{% for m in mentor_list %}
		                        <tr>
		                        	<td>{{ m.mentor_id }} </td>
		                            <td>{{ m.firstname }} {{ m.lastname }} </td>
		                        </tr>
                        	{% endfor %}
                        {% else %}
                        	<tr>
	                            <td><p>No mentor are available.</p></td>
	                        </tr>
						{% endif %}
                    </tbody>
            </table>
        </div>

      <div class="col-sm-6">

            <table id="mentee-list" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                        	<th>Mentee Id</th>
                            <th>Mentee Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if mentee_list %}
                    		{% for m in mentee_list %}
		                        <tr>
		                        	<td>{{ m.mentee_id }} </td>
		                            <td>{{ m.firstname }} {{ m.lastname }} </td>
		                        </tr>
                        	{% endfor %}
                        {% else %}
                        	<tr>
	                            <td><p>No mentee are available.</p></td>
	                        </tr>
						{% endif %}
                    </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <button type="button" onclick="setGetParameter()" class="btn btn-primary btn-lg">Associate</button>
        </div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#mentor-list').DataTable( {
            select: {
                style: 'single'
            }
        } );

        $('#mentee-list').DataTable( {
            select: {
                style: 'single'
            }
        } );
	} );

	function setGetParameter(){
	    var search_word = $("#search").val();
	    $.ajax({
	      type: "POST",
	      url: {% url 'index' %},
	      data: {mentor_id: $('#mentor-list').DataTable().rows({ selected: true }).data()[0][0],
	      		mentee_id: $('#mentee-list').DataTable().rows({ selected: true }).data()[0][0]},
	      success: function(result){
	        alert("Success");
	        document.location.reload(true);
	      }
	    });
	}
</script>

</html>