<!DOCTYPE html>
<html>

{%load custom_tags%}
{% include "header.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<style>
    #assoc-list td {
        vertical-align: middle;
    }

</style>
<div class="container">
    {% include "navmenu.html" %}
    <a href="/polls/export/AssociationsList" style="float: right;text-decoration: underline;">Export to CSV</a>
    <div class="">
        {% if assoc_list %}
            <table id="assoc-list" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Mentor Id</th>
                        <th>Mentor Name</th>
                        <th>Mentee Id</th>
                        <th>Mentee Name</th>
                        <th>Creation Date</th>
                        <th>Expiry Date</th>
                        <th>Disassociate</th>
                    </tr>
                </thead>
                <tbody>
                        {% for a in assoc_list %}
                            <tr id="{{a.mentor_id}}_r">
                                <td>{{ a.mentor_id }} </td>
                                <td>{{ mentor_map|hash:a.mentor_id }}</td>
                                <td>{{ a.mentee_id }}</td>
                                <td>{{ mentee_map|hash:a.mentee_id }}</td>
                                <td>{{ a.match_date }}</td>
                                <td>{{ a.expiry_date }}</td>
                                <td> 
                                    <button type="button" class="btn btn-sm btn-danger" onclick="disassociate('{{ a.mentor_id }}', '{{ a.mentee_id }}')">
                                        <i class="fa fa-trash fa-2x icon"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="row">
                <p><p>No associations found</p>
            </div>
        {% endif %}
    </div>
</div>
</body>



{% include "commonJS.html" %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#assoc-list').DataTable( {
        } );

        $('#view-associations').addClass('active');
    } );

    function disassociate(mentor_id, mentee_id) {
        var choice = confirm("want to disassociate?");

        if(choice) {
            $.ajax({
              type: "POST",
              url: 'viewAssociations',
              data: {mentor_id: mentor_id,
                mentee_id: mentee_id},
              success: function(result){
                // $('#mentor-list').DataTable().row('#mentor_id'+'_r').remove().draw();
                document.location.reload(true);
              }
            });
        }
    }
</script>
</html>