<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" id="home">
        <a class="nav-link" href="/polls/">Home</a>
      </li> -->
      <li class="nav-item" id="submit-activity-report">
        <a class="nav-link" href="/polls/mentorActivity">Submit Activity Report</a>
      </li>
      <li class="nav-item" id="view-activity-report">
        <a class="nav-link" href="/polls/mentorHistory">View Activity Report</a>
      </li>

    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->